*.exe
/HAL
/build
/python

/standard
/releases
/updater
/data/old
/data/temp
/old
/dll
*.dll
*.pyd
/site/
/portable
/temp
/test
/updater
*.pyc
/compact
*.bak
/HALupdater/obj
/HALupdater/bin
/HALupdater/test